<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marco Calabretta">
    <meta name="description" content="Boiler plate">
    <title>Carousel</title>

    <!-- FONTAWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- LINK STYLE -->
    <link rel="stylesheet" href="css/style.css">

    <!-- LINK VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    
    <!-- LINK SCRIPT -->
    <script src="js/db.js"></script>
    <script defer src="js/script.js"></script>
</head>
<body>
    
    <div id="root">
        
    <section id="carousel" class="container">
        {{ autoPlay() }}
        
        <!-- MAIN GALLERY -->
        <div class="gallery" >
            <figure v-for="(pic,i) in pictures" :class="{'active': currentIndex === i}" @mouseover="stopAutoPlay" @mouseleave="autoPlay">
                <img :src="pic.image" :alt="pic.title" >
                <h1>{{ pic.title }}</h1>
                <p  v-text="pic.text"></p>
            </figure>
        </div>
        <!-- THUMBNAILS -->
        <div class="thumbnails">
            <!-- PREV AND NEXT BUTTON -->
            <i class="fa-solid fa-arrow-up" id="prev" @click="changePic('prev')"></i>
            <i class="fa-solid fa-arrow-down" id="next" @click="changePic('next')"></i>
            <img v-for="(pic,i) in pictures" :src="pic.image" :alt="pic.title" :class="{'selected': currentIndex === i}" @click="changePic(i)">
        </div>
    </section>
    </div>

    <!-- <div class="change-control-button">
       <button id="start" disabled>Start</button>
       <button id="stop" class="bg-red">Stop</button>
    </div> -->

</body>
</html>